.xe-text-input {
    background-color: rgba(0, 0, 0, .2);
    color: #afafaf;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 1rem;
}

.xe-text-input:focus {
    outline: .25rem solid #2CFFCF;
}

.xe-text-input:-webkit-autofill,
.xe-text-input:-webkit-autofill:hover,
.xe-text-input:-webkit-autofill:focus,
.xe-text-input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    caret-color: white;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px rgba(0, 0, 0, .2);
}