.xe-block-hashrate {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.xe-block-hashrate>div {
    display: flex;
    gap: .25rem;
    flex-direction: column;
    flex: 1;
    min-height: 1rem;
}