.xe-box {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 1rem;
    text-decoration: none;
    color: white;
}

.xe-box-loading {
    background-color: rgba(0, 0, 0, 0.8);
    animation: xe-box-loading-animation .5s infinite alternate;
}

.xe-box-loading>* {
    display: none;
    visibility: hidden;
}

.xe-box:visited {
    color: rgb(160, 160, 160);
}

@keyframes xe-box-loading-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}