.xe-mempool-txs-list {
    max-height: 50rem;
    overflow-y: visible;
    overflow-x: hidden;
    display: flex;
    gap: 1rem;
    min-height: 20rem;
    flex-direction: column;
    animation: xe-mempool-list-animation .65s;
    height: 100%;
}

@keyframes xe-mempool-list-animation {
    0% {
        translate: 0 25%;
    }

    100% {
        translate: 0 0;
    }
}

.xe-mempool-txs-list-empty {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 20rem;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    flex-direction: column;
    opacity: .1;
    text-align: center;
    user-select: none;
    font-weight: bold;
    animation: xe-mempool-txs-list-empty-animation .5s infinite alternate;
}

.xe-mempool-txs-list-empty svg {
    width: 4rem;
    height: 4rem;
}

.xe-mempool-txs-list-empty div {
    max-width: 10rem;
}

@keyframes xe-mempool-txs-list-empty-animation {
    100% {
        opacity: .2;
    }
}