.xe-peers-list {
    overflow-y: visible;
    overflow-x: hidden;
    display: flex;
    height: 100%;
    max-height: 55rem;
    gap: 1rem;
    flex-direction: column;
    animation: xe-peers-list-animation .65s;
}

.xe-peers-list>:nth-child(2) {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

@keyframes xe-peers-list-animation {
    0% {
        translate: 0 25%;
    }

    100% {
        translate: 0 0;
    }
}