.xe-dashboard-txs {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    overflow-y: scroll;
    height: 55rem;
    overflow-x: hidden;
    animation: xe-dashboard-txs-appear-animation .65s;
}

.xe-dashboard-txs>:nth-child(2) {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

@keyframes xe-dashboard-txs-appear-animation {
    0% {
        translate: 0 25%;
    }

    100% {
        translate: 0 0;
    }
}

.xe-dashboard-txs-list-empty {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: .1;
    text-align: center;
    user-select: none;
    font-weight: bold;
}

.xe-dashboard-txs-list-empty svg {
    width: 5rem;
    height: 5rem;
}