.xe-block-rewards {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    animation: xe-block-rewards-appear-animation 0.6s;
}

@keyframes xe-block-rewards-appear-animation {
    0% {
        translate: -25% 0;
    }

    100% {
        translate: 0 0;
    }
}

.xe-block-rewards>div {
    display: flex;
    gap: .25rem;
    flex-direction: column;
    min-height: 1rem;
}

.xe-block-rewards>div>:nth-child(1) {
    font-size: .9rem;
    color: #afafaf;
}

.xe-block-rewards>div>:nth-child(2) {
    font-size: 1.4rem;
}