.xe-master {
    position: relative;
    min-height: 100vh;
    background-size: 2rem 2rem;
    background-image:
        linear-gradient(to right, rgba(255, 255, 255, 0.01) .1rem, rgba(255, 255, 255, 0.02) .1rem),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.01) .1rem, rgba(255, 255, 255, 0.02) .1rem);
}

.xe-master-content {
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 1rem 10rem 1rem;
    box-sizing: border-box;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}