.xe-master {
    position: relative;
    min-height: 100vh;
}

.xe-master-content {
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 1rem 10rem 1rem;
    box-sizing: border-box;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}