.xe-dashboard-top-stats {
    position: relative;
    animation: xe-dashboard-top-stats-appear-animation .65s;
}

@keyframes xe-dashboard-top-stats-appear-animation {
    0% {
        translate: 0 -25%;
    }

    100% {
        translate: 0 0;
    }
}

.xe-dashboard-top-stats > :nth-child(1) {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.xe-dashboard-top-stats-container {
    display: flex;
    gap: 1rem;
    flex-direction: row;
        overflow-x: auto;
}

@media screen and (min-width: 1100px) {
    .xe-dashboard-top-stats-container {
        flex-wrap: wrap;
   
    }
}

.xe-dashboard-top-stats-container>div {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-evenly;
}

.xe-dashboard-top-stats-container>:nth-child(1) {
    width: 40rem;
}

.xe-dashboard-top-stats-container>:nth-child(2) {
    width: 15rem;
}

.xe-dashboard-top-stats-container>:nth-child(3) {
    width: 20rem;
}

.xe-dashboard-top-stats-container>:nth-child(4) {
    width: 15rem;
}

.xe-dashboard-top-stats-container>:nth-child(5) {
    width: 20rem;
}

.xe-dashboard-top-stats-title {
    position: absolute;
    top: .5rem;
    left: .5rem;
    font-size: 1rem;
    color: #afafaf;
    z-index: 1;
}
