.xe-checkbox {
    display: flex;
    gap: .5rem;
    flex-direction: row;
    align-items: center;
}

.xe-checkbox> :first-child {
    color: rgba(255, 255, 255, 0.5);
}

.xe-checkbox-container {
    position: relative;
    height: 1.5rem;
    width: 1.5rem;
    background: rgba(2, 255, 209, 0.1);
    border-radius: .25rem;
}

.xe-checkbox input {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
}

.xe-checkbox-container:hover .xe-checkbox-checkmark {
    background: rgba(2, 255, 209, .5);
}

.xe-checkbox-container input:checked~.xe-checkbox-checkmark {
    background: rgba(2, 255, 209, 1);
}

.xe-checkbox-checkmark {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: 60%;
    width: 60%;
    cursor: pointer;
    background: rgba(2, 255, 209, 0.1);
    pointer-events: none;
    transition: all .25s;
    border-radius: .25rem;
}