.xe-dag-block-details {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: #151515;
    width: 15rem;
    height: 15rem;
    border-radius: .5rem;
    padding: 1rem;
    font-size: .8rem;
    display: flex;
    gap: .5rem;
    flex-direction: column;
    overflow: auto;
    opacity: 0;
    box-shadow: 0 0 100px 30px #0f0f0f;
}

.xe-dag-block-details>div {
    display: flex;
    gap: .25rem;
    flex-direction: column;
}

.xe-dag-block-details>div>:nth-child(1) {
    font-weight: 300;
    opacity: .7;
}

.xe-dag-block-details>div>:nth-child(2) {
    word-break: break-all;
}