.xe-account-list {
    max-height: 40rem;
    overflow: auto;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    animation: xe-account-list-animation 0.6s;
    overflow-y: scroll;
}

@keyframes xe-account-list-animation {
    0% {
        translate: 0 25%;
    }

    100% {
        translate: 0 0;
    }
}

.xe-account-list> :nth-child(2) {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}