.xe-account-list-item {
    display: flex;
    gap: .25rem;
    flex-direction: column;
}

.xe-account-list-item>:nth-child(1) {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-between;
}

.xe-account-list-item>:nth-child(1)>:nth-child(1) {
    font-size: 1.4rem;
}

.xe-account-list-item>:nth-child(1)>:nth-child(2) {
    color: #afafaf;
    font-size: 1.1rem;
}

.xe-account-list-item>:nth-child(2) {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.xe-account-list-item>:nth-child(2)>:nth-child(1) {
    color: #afafaf;
    font-size: 1.1rem;
}

.xe-account-list-item>:nth-child(2)>:nth-child(2) {
    font-size: 1.1rem;
}

.xe-account-list-item-incoming {
    display: flex;
    gap: .5rem;
    align-items: center;
    flex-direction: row;
}

.xe-account-list-item-outgoing {
    display: flex;
    gap: .5rem;
    align-items: center;
    flex-direction: row;
}