.xe-peers-search {
    animation: xe-peers-search-appear-animation .8s;
}

@keyframes xe-peers-search-appear-animation {
    0% {
        translate: 25% 0;
    }

    100% {
        translate: 0 0;
    }
}