.xe-contract-assets {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    animation: xe-contract-assets-appear-animation .75s;
}

@keyframes xe-contract-assets-appear-animation {
    0% {
        opacity: 0;
        translate: 25% 0;
    }

    100% {
        opacity: 1;
        translate: 0 0;
    }
}

.xe-contract-assets>:nth-child(1) {
    font-size: 1.5rem;
}

.xe-contract-assets-list {
    display: flex;
    gap: .5rem;
    flex-direction: column;
    max-height: 20rem;
    overflow: auto;
}

.xe-contract-assets-list>div {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.xe-contract-assets-list>div>:nth-child(1) {
    display: flex;
    gap: .25rem;
    flex-direction: column;
}

.xe-contract-assets-list>div>:nth-child(1)>:nth-child(1) {
    font-size: 1.1rem;
    color: #afafaf;
}

.xe-contract-assets-list>div>:nth-child(1)>:nth-child(2) {
    font-size: .9rem;
    color: #afafaf;
}

.xe-contract-assets-list>div>:nth-child(2) {
    font-size: 1.1rem;
}