.xe-known-accounts {}

.xe-known-accounts-table {
    display: flex;
    gap: .5rem;
    flex-direction: column;
    animation:xe-known-accounts-table-appear-animation .4s;
    overflow-x: auto;
}

.xe-known-accounts-table>:first-child {
    font-size: 1.3rem;
    color: #02FFCF;
}

@keyframes xe-known-accounts-table-appear-animation {
    0% {
        translate: 0 25%;
    }

    100% {
        translate: 0 0;
    }
}

.xe-known-accounts-links {
    display: flex;
    gap: 1rem;
    justify-content: end;
}