.xe-asset-supply {
	display: flex;
	gap: 1rem;
	flex-direction: column;
	animation: xe-asset-supply-appear-animation .6s;
}

@keyframes xe-asset-supply-appear-animation {
	0% {
		translate: 0 -25%;
	}

	100% {
		translate: 0 0;
	}
}

.xe-asset-supply>:nth-child(1) {
	font-size: 1.5rem;
}

.xe-asset-supply>:nth-child(2) {
	display: flex;
	gap: 1rem;
	flex-direction: column;
}

.xe-supply-progress-bar {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: .5rem;
	height: 2rem;
}

.xe-supply-progress-bar>:nth-child(1) {
	background-color: rgba(44, 255, 206, 1);
	border-radius: .5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 1rem;
	box-sizing: border-box;
	color: black;
	font-weight: bold;
	font-size: 1.1rem;
	height: 100%;
}

.xe-supply-progress-bar>:nth-child(1)>:nth-child(1) {
	background: #2cffcf;
	border-radius: .5rem;
	padding: .2rem;
}