.xe-network-upgrades {

}

.xe-network-upgrades-table {
    animation: xe-network-upgrades-table-appear-animation .4s;
    overflow-x: auto;
}

@keyframes xe-network-upgrades-table-appear-animation {
    0% {
        translate: 0 25%;
    }

    100% {
        translate: 0 0;
    }
}