.xe-account-history {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    animation: xe-account-history-animation 0.6s;
}

@keyframes xe-account-history-animation {
    0% {
        translate: 0 25%;
    }

    100% {
        translate: 0 0;
    }
}

.xe-account-history-table {
    overflow: auto;
    max-height: 35rem;
}

.xe-account-history> :nth-child(1) {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: .1rem solid rgba(255, 255, 255, 0.08);
    padding-bottom: 1rem;
}

.xe-account-history> :nth-child(1)>:nth-child(2) {
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

.xe-account-history-flow-filters svg {
    width: 1rem;
    height: 1rem;
}

.xe-account-history-flow-filters .all {
    rotate: 90deg;
}

.xe-account-history-flow-filters .incoming {
    rotate: 180deg;
    translate: 0 -10%;
}

.xe-account-history-flow-filters .outgoing {
    rotate: 0;
    translate: 0 10%;
}

.xe-account-history-pager {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.xe-account-history-pager button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 0.75em;
    border: none;
    border-radius: .5rem;
    color: white;
    font-size: .9rem;
    min-width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: translate 0.15s;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    font-weight: bold;
    font-family: Jura;
    display: flex;
    gap: .5rem;
    flex-direction: row;
}

.xe-account-history-pager button svg {
    width: 1rem;
    height: 1rem;
}

.xe-account-history-pager .prev svg {
    rotate: -90deg;
}

.xe-account-history-pager .next svg {
    rotate: 90deg;
}

.xe-account-history-pager button:hover {
    translate: 0 4%;
}