.xe-settings-item {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:650px) {
    .xe-settings-item {
        flex-direction: column;
        align-items: start;
    }
}

.xe-settings-item>:nth-child(1) {
    display: flex;
    gap: .5rem;
    flex-direction: column;
    animation: xe-settings-item-1-animation .65s;
}

@keyframes xe-settings-item-1-animation {
    0% {
        translate: -25% 0;
    }

    100% {
        translate: 0 0;
    }
}

.xe-settings-item>:nth-child(1)>:nth-child(1) {
    font-weight: bold;
    font-size: 1.2rem;
}

.xe-settings-item>:nth-child(1)>:nth-child(2) {
    color: #afafaf;
    max-width: 30rem;
}

.xe-settings-item>:nth-child(2) {
    animation: xe-settings-item-2-animation .8s;
}

@keyframes xe-settings-item-2-animation {
    0% {
        opacity: 0;
        translate: 25% 0;
    }

    100% {
        opacity: 1;
        translate: 0 0;
    }
}
