.xe-node-status {}

.xe-node-status-reconnect {
    position: fixed;
    width: 100%;
    z-index: 1;
    background: linear-gradient(rgb(56, 11, 7) 15%, rgba(0, 0, 0, 0));
    height: 15rem;
    translate: 0 -100%;
    animation: xe-node-status-reconnect-animation .5s forwards;
}

@keyframes xe-node-status-reconnect-animation {
    100% {
        translate: 0 0;
    }
}

.xe-node-status-reconnect>div {
    max-width: 50rem;
    margin: 0 auto;
    z-index: 1;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.xe-node-status-reconnect>div>:nth-child(2) {
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

.xe-node-status-reconnect-btn {
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: .5rem .65rem;
    border-radius: .5rem;
    cursor: pointer;
    font-weight: bold;
    transition: translate .15s;
    display: flex;
    gap: .5rem;
    align-items: center;
    text-decoration: none;
    font-size: .8rem;
    font-family: 'Jura';
}

.xe-node-status-reconnect-btn:hover {
    translate: 3% 0;
    background-color: #02FFCF;
    color: black;
}

.xe-node-status-reconnect-btn svg {
    width: 1rem;
    height: 1rem;
}

.xe-node-status-reconnect-hide {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background: none;
    border: none;
    rotate: 180deg;
    cursor: pointer;
    color: white;
    transition: translate .25s;
}

.xe-node-status-reconnect-hide:hover {
    translate: 0 -5%;
}

.xe-node-status-reconnect-hide svg {
    width: 2rem;
    height: 2rem;
}