.xe-tx-item {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-between;
    min-height: 6rem;
    transition: scale .25s, background-color .25s;
}

.xe-tx-item:hover {
    cursor: pointer;
    scale: .98;
    background-color: rgba(2, 255, 209, 0.07);
}

.xe-tx-item>div {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-between;
}

.xe-tx-item>:nth-child(1)>div {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.xe-tx-item>:nth-child(2)>div {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    align-items: end;
}

.xe-tx-item-signer {
    display: flex;
    gap: .5rem;
    flex-direction: row;
    align-items: center;
}

.xe-tx-item-type {
    display: flex;
    gap: .5rem;
    flex-direction: row;
    color: #afafaf;
    font-size: .9rem;
}

.xe-tx-item-hash {
    font-size: 1.1rem;
    font-weight: bold;
}

.xe-tx-item-age {
    font-size: 1.1rem;
}

.xe-tx-item-size {
    color: #afafaf;
    font-size: .9rem;
}

.xe-tx-item-height {
    font-size: 1.1rem;
}

.xe-tx-item-fee {
    color: #afafaf;
    font-size: .9rem;
}