.xe-dashboard {}

.xe-dashboard-container {}

.xe-dashboard-container-1 {
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

.xe-dashboard-container-1>:nth-child(1) {
    flex: 2;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.xe-dashboard-container-1>:nth-child(2) {
    flex: 1;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}