.xe-accounts {

}

.xe-accounts-table {
    animation: xe-accounts-table-appear-animation .4s;
    overflow-x: auto;
}

@keyframes xe-accounts-table-appear-animation {
    0% {
        translate: 0 25%;
    }

    100% {
        translate: 0 0;
    }
}
