.xe-accounts {}

.xe-accounts-table {
    display: flex;
    gap: .5rem;
    flex-direction: column;
    animation: xe-accounts-table-appear-animation .4s;
    overflow-x: auto;
}

@keyframes xe-accounts-table-appear-animation {
    0% {
        translate: 0 25%;
    }

    100% {
        translate: 0 0;
    }
}

.xe-accounts-links {
    display: flex;
    gap: 1rem;
    justify-content: end;
}