.xe-network-upgrade-guess {
	opacity: .2;
	color: #2CFFCF;
	animation: xe-network-upgrade-guess-animation 1s infinite alternate;
}

@keyframes xe-network-upgrade-guess-animation {
	100% {
		opacity: 1;
	}
}