
.xe-prev-next-pager {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.xe-prev-next-pager button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 0.75em;
    border: none;
    border-radius: .5rem;
    color: white;
    font-size: .9rem;
    min-width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: translate 0.15s;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    font-weight: bold;
    font-family: Jura;
    display: flex;
    gap: .5rem;
    flex-direction: row;
}

.xe-prev-next-pager button svg {
    width: 1rem;
    height: 1rem;
}

.xe-prev-next-pager .prev svg {
    rotate: -90deg;
}

.xe-prev-next-pager .next svg {
    rotate: 90deg;
}

.xe-prev-next-pager button:hover {
    translate: 0 4%;
}