.xe-transaction-burn {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.xe-transaction-burn-box-1 {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
}

.xe-transaction-burn-box-1 svg {
    width: 4rem;
    height: 4rem;
}

.xe-transaction-burn-box-1>:nth-child(2) {
    display: flex;
    gap: .25rem;
    flex-direction: column;
    flex: 1;
}

.xe-transaction-burn-box-1>:nth-child(2)>:first-child {
    font-size: 1rem;
}

.xe-transaction-burn-box-1>:nth-child(2)>:nth-child(2) {
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
}