.xe-dashboard-chart-section-1 {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    animation: xe-dashboard-chart-section-1-appear-animation .5s;
}

@keyframes xe-dashboard-chart-section-1-appear-animation {
    0% {
        translate: -35% 0;
    }

    100% {
        translate: 0 0;
    }
}
