.xe-collapsed-menu {}

.xe-collapsed-menu-toggle {
    background-color: #02FFCF;
    border: none;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: .25rem;
    position: fixed;
    z-index: 2;
    right: 0%;
    top: 0%;
    margin: 1rem;
    cursor: pointer;
    box-shadow: 0 0 10px black;
    transition: translate .25s;
    translate: -3% 0;
}

.xe-collapsed-menu.left .xe-collapsed-menu-toggle {
    left: 0%;
    right: inherit;
}

.xe-collapsed-menu-toggle svg {
    width: 2.5rem;
    height: 2.5rem;
}

.xe-collapsed-menu-toggle:hover {
    translate: 0 0;
}

.xe-collapsed-menu-links {
    position: fixed;
    right: 0;
    background: linear-gradient(to right, transparent, 60%, black);
    top: 0;
    bottom: 0;
    padding: 1rem;
    z-index: 3;
    width: 30rem;
    display: flex;
    gap: .5rem;
    flex-direction: column;
    align-items: self-end;
    translate: 100% 0;
    opacity: 0;
    user-select: none;
}

.xe-collapsed-menu.left .xe-collapsed-menu-links {
    background: linear-gradient(to left, transparent, 60%, black);
    right: inherit;
    align-items: self-start;
    translate: -100% 0;
}

.xe-collapsed-menu-links.open {
    animation: xe-collapsed-menu-links-open .25s forwards;
}

@keyframes xe-collapsed-menu-links-open {
    100% {
        opacity: 1;
        translate: 0 0;
    }
}

.xe-collapsed-menu-links.close {
    opacity: 1;
    translate: 0 0;
    animation: xe-collapsed-menu-links-close .25s forwards;
}

.xe-collapsed-menu.left .xe-collapsed-menu-links.close {
      opacity: 1;
    translate: 0 0;
    animation: xe-collapsed-menu-links-close-left .25s forwards;
}

@keyframes xe-collapsed-menu-links-close {
    100% {
        opacity: 0;
        translate: 100% 0;
    }
}

@keyframes xe-collapsed-menu-links-close-left {
    100% {
        opacity: 0;
        translate: -100% 0;
    }
}

.xe-collapsed-menu-links>* {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Jura;
    opacity: 1 !important;
    display: flex;
    gap: .5rem;
    align-items: center;
    transition: translate .15s;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    padding: .5rem .75rem;
    border-radius: 1rem;
    font-size: 1rem;
    backdrop-filter: blur(5px);
}

.xe-collapsed-menu.left .xe-collapsed-menu-links>* {
    flex-direction: row-reverse;
}

.xe-collapsed-menu-links>* svg {
    width: 1rem;
    height: 1rem;
    background-color: #02FFCF;
    color: black;
    padding: .25rem;
    border-radius: .5rem;
}

.xe-collapsed-menu-links>*.active {
    background-color: #02FFCF;
    color: black;
}

.xe-collapsed-menu-links>*.active svg {
    background-color: rgb(20, 20, 20);
    color: white;
}

.xe-collapsed-menu-links>*:hover {
    color: black;
    translate: 3% 0;
    background-color: #02FFCF;
}

.xe-collapsed-menu-links>*:hover svg {
    background-color: rgb(20, 20, 20);
    color: white;
}