.xe-settings {
    animation: xe-settings-appear-animation .4s;
}

@keyframes xe-settings-appear-animation {
    0% {
        translate: 0 25%;
    }

    100% {
        translate: 0 0;
    }
}

.xe-settings>:nth-child(1) {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.xe-settings-line {
    height: .05rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 1rem;
}

.xe-settings-btn {
    background: rgba(15, 239, 196, 0.08);
    border: none;
    color: #02FFCF;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: .5rem;
    transition: .25s translate;
    display: flex;
    gap: .5rem;
    flex-direction: row;
    align-items: center;
}

.xe-settings-btn:hover {
    translate: -3% 0;
}

.xe-settings-btn svg {
    width: 1.1rem;
    height: 1.1rem;
}

.xe-settings-text {
    background: rgba(15, 239, 196, 0.08);
    border: none;
    border-radius: .5rem;
    color: #afafaf;
    outline: none;
    padding: .5rem 1rem;
    font-size: 1rem;
}

.xe-settings-text:focus {
    outline: .15rem solid #2CFFCF;
}

.xe-settings-text:-webkit-autofill,
.xe-settings-text:-webkit-autofill:hover,
.xe-settings-text:-webkit-autofill:focus,
.xe-settings-text:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    caret-color: white;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px rgba(0, 0, 0, .2);
}

.xe-settings-item-input {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}