.xe-asset {
    display: flex;
    gap: 1rem;
    flex-direction: row;
}


@media screen and (max-width: 750px) {
    .xe-asset {
        flex-direction: column;
    }
}


.xe-asset>div {
    flex: 1;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}