.xe-transaction {}

.xe-transaction-container-1 {
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

@media screen and (max-width: 900px) {
    .xe-transaction-container-1 {
        flex-direction: column;
    }
}

.xe-transaction-sub-container-1 {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    flex: 1;
}

.xe-transaction-sub-container-2 {
    flex: 1;
    animation: xe-transaction-sub-container-2-appear-animation .65s;
}

@keyframes xe-transaction-sub-container-2-appear-animation  {
    0% {
        translate: 25% 0;
    }

    100% {
        translate: 0 0;
    }
}