.xe-transaction {}

.xe-transaction-container-1 {
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

.xe-transaction-sub-container-1 {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    flex: 1;
}

.xe-transaction-sub-container-2 {
    flex: 1;
}