.xe-transactions {

}

.xe-transactions-table {
    animation: xe-transactions-table-appear-animation .4s;
    overflow-x: auto;
}

@keyframes xe-transactions-table-appear-animation {
    0% {
        translate: 0 25%;
    }

    100% {
        translate: 0 0;
    }
}
