.xe-transaction-info {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    animation: xe-transaction-info-appear-animation .75s;
}

@keyframes xe-transaction-info-appear-animation {
    0% {
        opacity: 0;
        translate: 0 -25%;
    }

    100% {
        opacity: 1;
        translate: 0 0;
    }
}

.xe-transaction-info>:nth-child(1) {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.xe-transaction-info>:nth-child(1) svg {
    width: 3rem;
    height: 3rem;
}

.xe-transaction-info-signer {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    flex: 1;
}

.xe-transaction-info>:nth-child(2) {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.xe-transaction-info-fees {
    display: flex;
    gap: .5rem;
    flex-direction: column;
    font-size: 1.2rem;
    flex: 1;
}

.xe-transaction-info-fees>:nth-child(1) {
    color: #afafaf;
    font-size: .9rem;
}

.xe-transaction-info-fees>:nth-child(2) {
    display: flex;
    gap: 1rem;
    align-self: flex-start;
    background-color: rgba(255, 255, 255, 0.05);
    padding: .75rem 1rem;
    border-radius: 1rem;
}

.xe-transaction-info-fees>:nth-child(2)>div {
    display: flex;
    gap: .25rem;
    flex-direction: column;
}

.xe-transaction-info-fees>:nth-child(2)>div>:nth-child(1) {
    font-size: .8rem;
    color: #afafaf;
}

.xe-transaction-info-fees>:nth-child(2)>div>:nth-child(2) {
    font-size: 1rem;
}

.xe-transaction-info-size {
    display: flex;
    gap: .25rem;
    flex-direction: column;
    font-size: 1.2rem;
}

.xe-transaction-info-size>:nth-child(1) {
    color: #afafaf;
    font-size: .9rem;
}

.xe-transaction-info-hash {
    display: flex;
    gap: .25rem;
    flex-direction: column;
    word-break: break-all;
    font-size: 1.2rem;
}

.xe-transaction-info-hash>:nth-child(1) {
    color: #afafaf;
    font-size: .9rem;
}