.xe-transaction-info {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.xe-transaction-info>:nth-child(1) {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.xe-transaction-info>:nth-child(1) svg {
    width: 3rem;
    height: 3rem;
}

.xe-transaction-info-signer {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
}

.xe-transaction-info>:nth-child(2) {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.xe-transaction-info-fees {
    display: flex;
    gap: .25rem;
    flex-direction: column;
    font-size: 1.2rem;
}

.xe-transaction-info-fees>:nth-child(1) {
    opacity: .8;
    font-size: .9rem;
}

.xe-transaction-info-size {
    display: flex;
    gap: .25rem;
    flex-direction: column;
    font-size: 1.2rem;
}

.xe-transaction-info-size>:nth-child(1) {
    opacity: .8;
    font-size: .9rem;
}

.xe-transaction-info-hash {
    display: flex;
    gap: .25rem;
    flex-direction: column;
    word-break: break-all;
    font-size: 1.2rem;
}

.xe-transaction-info-hash>:nth-child(1) {
    opacity: .8;
    font-size: .9rem;
}