.xe-blocks-block-row {}

.xe-blocks-block-row:hover>td {
    background-color: rgba(2, 255, 209, 0.1);
    cursor: pointer;
}

.xe-blocks-block-row>td:first-child {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;

}

.xe-blocks-block-row:hover>td:first-child {
    padding-left: 1rem;
}

.xe-blocks-block-row>td:last-child {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.xe-blocks-block-row-loading>td {
    height: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    animation: xe-blocks-block-row-loading-animation .5s infinite alternate;
}

@keyframes xe-blocks-block-row-loading-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}