.xe-block-miner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    animation: xe-block-miner-appear-animation 0.5s;
}

@keyframes xe-block-miner-appear-animation {
    0% {
        translate: -25% 0;
    }

    100% {
        translate: 0 0;
    }
}


.xe-block-miner-miner {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
    flex: 1;
    min-height: 1.5rem;
    text-decoration: none;
    transition: translate .25s;
}

.xe-block-miner-miner:hover {
    translate: 2% 0;
}

.xe-block-miner-miner> :nth-child(2) {
    display: flex;
    gap: .25rem;
    flex-direction: column;
}

.xe-block-miner-miner> :nth-child(2)>:nth-child(1) {
    font-size: 1.4rem;
    color: white;
}

.xe-block-miner-miner> :nth-child(2)>:nth-child(2) {
    font-size: .9rem;
    color: #afafaf;
}
