.xe-account-assets {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    overflow-x: scroll;
}

.xe-account-assets> :nth-child(2) {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.xe-account-assets> :nth-child(2) > div {
    white-space: nowrap;
}