.xe-account-assets {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    overflow-x: scroll;
    animation: xe-account-assets-animation 0.65s;
}

@keyframes xe-account-assets-animation {
    0% {
        translate: 0 -50%;
    }

    100% {
        translate: 0 0;
    }
}


.xe-account-assets> :nth-child(2) {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.xe-account-assets> :nth-child(2) > div {
    white-space: nowrap;
}

.xe-account-assets-item {
    padding: .75rem 1.25rem;
    display: flex;
    gap: .5rem;
    flex-direction: row;
}