.xe-countdown {
	display: flex;
	gap: 1rem;
	flex-direction: row;
}

.xe-countdown>div {
	display: flex;
	gap: .5rem;
	flex-direction: column;
	align-items: center;
}

.xe-countdown>div>:nth-child(1) {
	font-size: 4rem;
}

.xe-countdown>div>:nth-child(2) {
	font-weight: bold;
}