.xe-peer-item {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-between;
    min-height: 8rem;
    transition: scale .25s, background-color .25s;
}

.xe-peer-item:hover {
    cursor: pointer;
    scale: .98;
    background-color: rgba(2, 255, 209, 0.07);
}

.xe-peer-item>:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.xe-peer-item-addr {
    font-size: 1.1rem;
    font-weight: bold;
}

.xe-peer-item-location {
    display: flex;
    gap: .5rem;
    flex-direction: row;
}

.xe-peer-item-pcount {
    margin-top: .25rem;
    color: #afafaf;
}

.xe-peer-item-version {
    margin-top: .5rem;
    font-size: .8rem;
    color: #afafaf;
}

.xe-peer-item-tag {
    margin-top: .25rem;
    font-size: .8rem;
    color: #afafaf;
}

.xe-peer-item>:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.xe-peer-item>:nth-child(2)>div {
    display: flex;
    gap: .25rem;
    flex-direction: column;
}

.xe-peer-item>:nth-child(2)>div>:nth-child(1) {
    font-size: .7rem;
    color: #afafaf;
}

.xe-peer-item>:nth-child(2)>div>:nth-child(2) {
    font-weight: bold;
}