html {
    background-color: black;
}

html,
body {
    font-family: Jura;
    color: white;
    font-size: calc(10px + 0.5vw);
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

a {
    color: #F4D35E;
    transition: opacity .25s;
}

a:hover {
    opacity: .7;
}
