.xe-dag-height-control {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3rem 2rem 4rem 2rem;
    background-color: rgba(0, 0, 0, 0.1);
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(15, 15, 15));
    user-select: none;
}

.xe-dag-height-control-inputs {
    position: absolute;
    right: 2rem;
    top: 0.5rem;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
}

.xe-dag-height-control-inputs input {
    max-width: 5rem;
    text-align: right;
    border-radius: .5rem;
    border: none;
    padding: .5rem .6rem;
    background-color: rgb(15, 15, 15);
    color: white;
}

.xe-dag-height-control-inputs button {
    background-color: rgb(15, 15, 15);
    color: white;
    padding: .5rem .75rem;
    border: none;
    border-radius: .5rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    gap: .5rem;
    flex-direction: row;
    align-items: center;
    transition: translate .15s;
    font-family: 'Jura';
}

.xe-dag-height-control-inputs button svg {
    width: 1rem;
    height: 1rem;
}

.xe-dag-height-control-inputs button:hover {
    translate: 0 -4%;
}


.xe-dag-height-control-btn-prev svg {
    rotate: 90deg;
}

.xe-dag-height-control-btn-next svg {
    rotate: 270deg;
}

.xe-dag-height-control-btn-live::before {
    content: "";
    border-radius: 100%;
    width: .5rem;
    height: .5rem;
    background-color: white;
}

.xe-dag-height-control-btn-live.active {
    animation: xe-dag-height-control-btn-live-animation .75s infinite alternate;
}

@keyframes xe-dag-height-control-btn-live-animation {
    100% {
        background-color: #02FFCF;
        color: #161616;
    }
}

.xe-dag-height-control-btn-live.active::before {
    animation: xe-dag-height-control-dot-live-animation .75s infinite alternate;
}

@keyframes xe-dag-height-control-dot-live-animation {
    100% {
        background-color: #161616;
    }
}